Flask==3.0.0

# Gunicorn

gunicorn==21.2.0

# Numpy

numpy==1.24.3

# TensorFlow

tensorflow==2.13.0

# Keras

keras==2.13.0

# OpenCV

opencv-python==4.8.1.78

# Pillow

Pillow==10.0.0

# Scikit-image

scikit-image==0.21.0

# Matplotlib

matplotlib==3.7.2

# pycocotools

pycocotools==2.0.6

# tqdm

tqdm==4.66.1

# imgaug

imgaug==0.4.0